# MapServer
*wfs.map*

# scripts
sip-site/ark-scrmap/wsgi/stats.py

# dev
*_test*
*_orig*
*.pyc

# 3D
*.stl
*.ply

# custom config
server_config.yaml
.vagrant*

# OS
.directory

# PyCharm
workspace.xml

# VIM
.vimrc

# LaTeX
*.toc
*.fls
*_latexmk
*.aux
*.log
*.nav
*.out
*.snm
*.bbl
*.bcf
*.blg
*.run.xml
