<div id="basicinfo">
    <h2>SCR id:</h2>
    {{ scrid }}<br>
    <a href="{{ scr_link }}">See this to SCR in ARK</a>
</div>
<div id="description">
    <h2>Definition:</h2>
    {{ Definition }}
    <h2>Interpretation:</h2>
    {{ Interpretation }}
    <h2>Dimensions:</h2>
    {{ Dimensions }}
    <h2>Colour</h2>
    {{ Colour }}
    <h2>Period:</h2>
    {{ Period }}
    <h2>Phase:</h2>
    {{ Phase }}
    <h2>Formation:</h2>
    {{ Formation }}
    <h2>Composition:</h2>
    {{ Composition }}
</div>
