<div class="container-fluid">
    <div class="row-fluid">
        <div id="main-info" class="span12">

            <div class="row-fluid">
                <div id="basic-info" class="span12">
                    <br>
                    <strong>{{ name }}</strong><br>
                    <br>
                    <img src="img/3d/{{ filename }}.jpg" alt="{{ filename }}.jpg" width="260" height="290" class="img-rounded"><br><br>
                </div>
            </div>

            <div class="row-fluid">
              <div id="data" class="span12">
                  <button type="button" class="btn btn-info model-button span12"><i class="icon-eye-open icon-white"></i> Modello 3D</button>
                  <br>
                  <br>
                  <button type="button" class="btn desc-button span12" style="margin-left:0px"><i class="icon-tag icon-white"></i>  Descrizione</button>
                  <br>
                  <br>
                  <div id="description" style="display:none">
                      <p>{{ description }}</p>
                  </div>
                  <div id="desclist">
                      <dl>
                          <dt>Stato:</dt>
                          <dd>{{ state }}</dd>
                          <br>
                          <dt>Materiale:</dt>
                          <dd>{{ material }}</dd>
                          <br>
                          <dt>Provenienza:</dt>
                          <dd>{{ from }}</dd>
                      </dl>
                  </div>
              </div>
            </div>

        </div>
    </div>
</div>

<script>
  /* integration of 3D elements is spaghetti-sh, but it works, searching
  for a simple solution requires time and some investigations in Thingiview
  code, not possible at the moment */
  $('.model-button').on('click', function(event) {
      $.pageslide.close();
      $('#map_collapse').collapse('hide');
      $('#my-model,#navbar-model').collapse('show');
      $('#my-model,#navbar-model').show();
      thingiurlbase = "js/thingiview/javascripts";
      thingiview = new Thingiview("my-model");
      $('#my-model').attr('style', 'height: 312px; width: 569px');
      thingiview.initScene();
      $('#my-model').find('canvas').attr('height', '312');
      var filename = $('#basic-info').find('img').attr('alt').split('.')[0];
      setTimeout(function(){
        thingiview = new Thingiview("my-model");
        thingiview.setShowPlane(false);
        thingiview.setBackgroundColor('#8FA3A2');
        // orignal #90A38F
        thingiview.initScene();
        $('#my-model').find('canvas').attr('width', '569px');
        thingiview.loadSTL('../obj/'+filename+'.stl');
      }, 3000);
  });

  $('.return-sheet').on('click', function() {
      $('#my-model').collapse('hide');
      $('#navbar-model').hide();
      $('#map_collapse').collapse('show');
      $.pageslide({ href: '#responseSCR', modal: true });
  });

  $('.return-map').on('click', function() {
      $('#my-model').collapse('hide');
      $('#navbar-model').hide();
      $('#map_collapse').collapse('show');
  });

  $('.desc-button').hover(
      function() {
          $('.desc-button').html($('#description').html())
      }, 

      function() {
        $('.desc-button').html('<i class="icon-tag icon-white"></i> Descrizione')
      }
  );
</script>
