<div id="basicinfo">
    <div class="container">
        <br>
        <strong>codice scheda:</strong> {{ scrid }}<br>
        <br>
        <p><a class="btn btn-info" href="{{ scr_link }}"><i class="icon-eye-open icon-white"></i> Sfoglia voce in Ark</a></p>
    </div>
</div>
<hr>
<div id="description">
    <dl>
        <dt>Definizione:</dt>
        <dd>{{ Definition }}</dd>
        <br>
        <dt>Interpretazione:</dt>
        <dd>{{ Interpretation }}</dd>
        <br>
        <dt>Dimensioni:</dt>
        <dd>{{ Dimensions }}</dd>
        <br>
        <dt>Colore:</dt>
        <dd>{{ Colour }}</dd>
        <br>
        <dt>Periodo:</dt>
        <dd>{{ Period }}</dd>
        <br>
        <dt>Fase:</dt>
        <dd>{{ Phase }}</dd>
        <br>
        <dt>Formazione:</dt>
        <dd>{{ Formation }}</dd>
        <br>
        <dt>Composizione:</dt>
        <dd>{{ Composition }}</dd>
    </dl>
</div>
